In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split

import pandas as pd
import random
import csv
import os
import math
import numpy as np
from tqdm import tqdm
from numba import jit
import matplotlib.pyplot as plt
import seaborn as sns

pd.options.mode.chained_assignment = None

## Run model on clean dataset

In [2]:
df = pd.read_pickle("./pickles/df_small_clean.pkl")
df.describe()

,prop_id,srch_id,position,price_quality,competitor_bool,availability_bools,visited_before,click_bool,booking_bool,promotion_flag,prop_brand_bool,random_bool
count,4945.000000,4945.000000,4945.000000,4945.000000,4945.000000,4945.000000,4945.000000,4945.000000,4945.000000,4945.000000,4945.000000,4945.000000
mean,71092.730637,160507.023256,16.762993,46.410301,0.161780,0.099090,0.077654,0.044287,0.028918,0.234985,0.634580,0.281496
std,40120.359438,95166.467890,10.370876,29.084732,0.368286,0.298813,0.267654,0.205753,0.167593,0.424032,0.481596,0.449775
min,119.000000,65.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,36956.000000,83202.000000,8.000000,30.135000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,71026.000000,150675.000000,16.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,105165.000000,249343.000000,26.000000,54.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,140795.000000,330595.000000,39.000000,524.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [3]:
y = df["prop_id"]
X = df.drop("prop_id", axis=1).copy()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [4]:
rfc = RandomForestClassifier(n_jobs=1)
model = rfc.fit(X_train, y_train)
predictions = model.predict(X_test)

In [5]:
pred_groups = X_test.groupby('srch_id').agg({'position':lambda x: list(x)})
pred_groups

                                position
srch_id
65        [15, 14, 29, 30, 37, 3, 36, 8]
2050                         [24, 9, 19]
2625                   [4, 26, 16, 1, 7]
3927                            [18, 19]
7707     [13, 36, 28, 27, 25, 24, 20, 7]
...                                  ...
322659         [27, 12, 13, 9, 26, 7, 8]
327160                        [18, 6, 4]
329266           [16, 14, 21, 20, 1, 13]
330548                  [13, 24, 14, 20]
330595           [18, 1, 22, 12, 19, 31]

[193 rows x 1 columns]